<table>
    <thead class="tabñe text-center">
        <tr>
            <th>Imagen</th>
            <th>Producto</th>
            <th>Marca</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Comprar</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let elec of elecs" [ngClass]="{'clearance': elec.clearance}">
            <td><img width="100px" class="img-thumbnail" [src]="elec.image" [alt]="elec.product"></td>
            <td>{{elec.product}}</td>
            <td>{{elec.brand}}</td>
            <td>{{elec.price | currency}}</td>
            <td><span class="badge text-bg-warning" *ngIf="elec.stock==0">SIN STOCK</span></td>
            <td>
                <app-input-integer [(quantity)]="elec.quantity" [max]="elec.stock"  *ngIf="elec.stock" (maxReached)="maxReached($event)"> </app-input-integer>
            </td>
            <td>    
                <button class="btn btn-primary" (click)="addToCart(elec)">Añadir al carrito</button>
            </td>
        </tr>
    </tbody>
</table>
